
.vscode
node_modules

docker-compose.yml
test

.git
.gitignore
.eslintrc.js
.dockerignore
.prettierrc
README.md
readme.txt

postgres_data
node_modules
proto
.env
dist
app.sqlite
docker-compose.yaml.bak
docker-compose.yaml
