name: nestjs

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build-and-push:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2

            - name: Log in to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and Push Docker Image apikey-service
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  file: ./apps/key/Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USERNAME }}/zookeeper-key-service:latest

            - name: Build and Push Docker Image mail-service
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  file: ./apps/mail-queue/Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USERNAME }}/zookeeper-mail-queue-service:latest

            - name: Build and Push Docker Image auth-service
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  file: ./apps/auth/Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USERNAME }}/zookeeper-auth-service:latest

            - name: Build and Push Docker Image exchange-service
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  file: ./apps/exchange/Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USERNAME }}/zookeeper-exchange:latest

            - name: Build and Push Docker Image gateway-service
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  file: ./apps/gateway/Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USERNAME }}/zookeeper-gateway-service:latest

            - name: Build and Push Docker Image notification-service
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  file: ./apps/notification/Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USERNAME }}/zookeeper-notification-service:latest

            - name: Build and Push Docker Image order-queue-service
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  file: ./apps/order-queue/Dockerfile
                  push: true
                  tags: ${{ secrets.DOCKER_USERNAME }}/zookeeper-order-queue-service:latest
